<div class="navigation col-lg-12">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a href="#" class="navbar-brand">{{title}}</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        @if(identity) {
        <ul class="navbar-nav">
          <li class="nav-item">
            <a [routerLink]="['/home']" routerLinkActive="active" class="nav-link">
              <i class="fa-solid fa-house"> Inicio</i>
            </a>
          </li>

          <li class="nav-item">
            <a [routerLink]="['/timeline']" routerLinkActive="active"  class="nav-link">
              <i class="fa-solid fa-timeline"> Timeline</i>
            </a>
          </li>

          <li class="nav-item">
            <a [routerLink]="['/gente', 1]"  class="nav-link">
              <i class="fa-solid fa-user"> Gente</i>
            </a>
          </li>

          <li class="nav-item">
            <a [routerLink]="['/mensajes']"  class="nav-link">
              <i class="fa-solid fa-message"> Mensajes</i>
            </a>
          </li>
        </ul>
        } 
        @if(!identity) {
        <ul class="nav navbar navbar-nav navbar-right">
          <li class="nav-item">
            <a [routerLink]="['/login']" routerLinkActive="active" class="nav-link">
              <i class="fa-solid fa-arrow-right-to-bracket"> Login</i>
            </a>
          </li>

          <li class="nav-item">
            <a [routerLink]="['/register']" routerLinkActive="active" class="nav-link">
              <i class="fa-solid fa-circle-user"> Registro</i>
            </a>
          </li>
        </ul>
        }

        @if (identity) {
        <ul class="navbar-nav ms-auto">
          <li class="avatar">
            @if (identity && identity.image) {
            <img src="{{  url + 'get-image-user/' + identity.image }}">
            }
          </li>
          <li class="nav-item dropdown">
            <a 
              class="nav-link dropdown-toggle" 
              href="#" 
              role="button" 
              data-bs-toggle="dropdown" 
              aria-expanded="false"
            >
              {{ identity.name }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="dropdown-item" [routerLink]="['/profile',identity._id]">
                  <i class="fa-solid fa-address-card me-2"></i>
                  Mi perfil
                </a>
              </li>
              <li>
                <a class="dropdown-item" [routerLink]="['/mis-datos']">
                  <i class="fa-solid fa-floppy-disk me-2"></i>
                  Mis datos
                </a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <a type="button" class="dropdown-item" (click)="logout()">
                  <i class="fa-solid fa-arrow-right-from-bracket me-2"></i>
                  Cerrar sesión
                </a>
              </li>
            </ul>
          </li>
        </ul>
        }

      </div>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>